/* footer區塊 */
.footer {
  background-color: $footer-bg-color;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  @include mobile {
    padding-top: 24px;
  }
}
.footer-nav {
  display: flex;
  @include mobile {
    display: none;
  }
  li {
    & ~ li {
      padding-left: 48px;
      @include pad {
        & ~ li {
          padding-left: 40px;
        }
      }
    }
    a {
      padding-top: 12px;
      padding-bottom: 12px;
      display: block;
      font-size: $text-s;
      line-height: 1.5;
      color: $text-color-secondary;
      text-decoration: none;
      &:hover {
        color: $text-hover-color-primary;
      }
    }
  }
}
.footer-contact {
  @include pad {
    padding-top: 6px;
    padding-bottom: 20px;
  }
  li {
    display: flex;
    align-items: center;
    & ~ li {
      margin-top: 16px;
    }
    @include pc-pad {
      & ~ li {
        margin-top: 12px;
      }
    }
    img {
      @include pc-pad {
        @include size(18px, 18px);
      }
    }
    a {
      display: block;
      font-size: $text-xl;
      line-height: 1.5;
      color: $text-color-secondary;
      text-decoration: none;
      margin-left: 22px;
      &:hover {
        color: $text-hover-color-primary;
      }
      @include pc-pad {
        font-size: $text-sm;
        margin-left: 11px;
      }
      @include pc-pad {
        font-size: $text-s;
        margin-left: 6px;
      }
    }
  }
}
.footer-icon {
  display: flex;
  li {
    img {
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
      }
      @include pad {
        @include size(24px, 24px);
      }
    }
    & ~ li {
      margin-left: 32px;
    }
    @include pad {
      & ~ li {
        margin-left: 24px;
      }
    }
  }
}
.copyright {
  border-top: solid 1px $text-color-secondary;
  padding-top: 32px;
  padding-bottom: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include pad {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  @include mobile {
    display: block;
    padding: 16px 0;
  }
  p {
    font-size: $text-s;
    line-height: 1.5;
    color: $text-color-secondary;
  }
  ul {
    display: flex;
    @include mobile {
      display: block;
    }
    li {
      @include mobile {
        margin: 8px 0;
      }
      & ~ li {
        margin-left: 48px;
      }
      @include pad {
        & ~ li {
          margin-left: 24px;
        }
      }
      @include mobile {
        & ~ li {
          margin-left: 0;
        }
      }
      a {
        display: block;
        font-size: $text-xs;
        line-height: 1.5;
        color: $text-color-secondary;
        text-decoration: none;
        &:hover {
          color: $text-hover-color-primary;
        }
      }
    }
  }
}
