/* banner區塊 */
.banner {
  background: url(../../assets/images/banner.png) center center / cover;
  height: 840px;
  @include mobile {
    background-image: url(../../assets/images/banner-sm.png);
    height: 394px;
  }
}
.slogan {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-color-primary;
  text-align: right;
  h5 {
    font-size: $text-lg;
    line-height: 1.5;
    @include pad {
      font-size: $text-sm;
    }
    @include mobile {
      font-size: $text-s;
    }
  }
  h3 {
    font-size: $text-3xl;
    line-height: 1.5;
    font-weight: bold;
    @include pad {
      font-size: $text-2xl;
    }
    @include mobile {
      font-size: $text-m;
    }
  }
}

/* about區塊 */
.about {
  @include pad {
    @include pad-py-4;
  }
  @include mobile {
    @include mobile-py-4;
  }
  background-color: $about-bg-color;
  h4 {
    @include mobile {
      font-size: $text-base;
    }
  }
}
.about-list {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
  @include pc-pad {
    flex-wrap: wrap;
    margin-top: 0px;
  }
  li {
    width: 23%;
    text-align: center;
    @include pc-pad {
      width: 40%;
      margin-top: 40px;
    }
    @include mobile {
      width: 70%;
    }
    img {
      margin: 0 auto;
      @include size(83px, 83px);
    }
    h3 {
      font-size: $text-base;
      color: $text-color-primary;
      font-weight: bold;
      line-height: 1.5;
      margin-top: 24px;
    }
    p {
      text-align-last: left;
      line-height: 1.5;
      margin-top: 8px;
    }
  }
}

.classic {
  @include pad {
    @include pad-py-4;
  }
  @include mobile {
    @include mobile-py-4;
  }
}
/* classic區塊 */
.classic-list {
  display: flex;
  @include mobile {
    display: block;
    position: relative;
  }
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
  &:nth-child(even) {
    .classic-list-content:nth-child(even) {
      margin-left: 30px;
    }
  }
  &:nth-child(odd) {
    .classic-list-content:nth-child(even) {
      margin-right: 30px;
    }
  }
  & ~ .classic-list {
    margin-top: 30px;
  }
  .photo {
    width: 635px;
  }
  @include pc-pad {
    .photo {
      width: 55%;
    }
  }
  @include pad {
    &:nth-child(odd) {
      flex-direction: row;
    }
    &:nth-child(odd) {
      .classic-list-content:nth-child(even) {
        margin-left: 30px;
      }
    }
    &:nth-child(odd) {
      .classic-list-content:nth-child(even) {
        margin-right: 0px;
      }
    }
    & ~ .classic-list {
      margin-top: 8px;
    }
    .photo {
      @include size(390px, 168px);
    }
  }
  @include mobile {
    &:nth-child(even) {
      .classic-list-content:nth-child(even) {
        margin: 0;
      }
    }
    &:nth-child(odd) {
      .classic-list-content:nth-child(even) {
        margin: 0;
      }
    }
    &:nth-child(odd) {
      .classic-list-content:nth-child(even) {
        margin-right: 30px;
      }
    }
    .photo {
      @include center;
    }
  }
}
.classic-list-content {
  display: flex;
  align-items: center;
  .white {
    display: none;
  }
  @include mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .red {
      display: none;
    }
    .white {
      display: block;
    }
  }
  h4 {
    font-size: $text-2xl;
    line-height: 1.5;
    font-weight: 900;
    color: $text-color-Tertiary;
    margin-left: 10px;
    @include pad {
      font-size: 28px;
    }
    @include mobile {
      font-size: 28px;
      color: $text-color-secondary;
    }
  }
}

/* co-branding區塊 */
.co-branding {
  background: url(../../assets/images/bg.png) no-repeat center center / cover;
  @include pad {
    @include pad-py-4;
  }
  @include mobile {
    @include mobile-py-4;
  }
  .title {
    color: $text-color-secondary;
  }
}
.co-branding-list {
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    @include size(540px, 455px);
    @include pc-pad {
      width: 48%;
    }
    @include pad {
      @include size(48%, 278px);
    }
    @include mobile {
      @include size(345px, 291px);
      & ~ li {
        margin-top: 16px;
      }
    }
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: $text-4xl;
      font-weight: 900;
      color: $text-color-Tertiary;
      line-height: 1.5;
      @include pad {
        font-size: $text-m;
      }
    }
  }
  .co-branding-double {
    // 透明度 0.5 的白色半透明遮罩
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../../assets/images/product-8.png);
    // 設置背景混和模式為相乘模式
    background-blend-mode: screen;
  }
  .co-branding-youth {
    // 透明度 0.5 的白色半透明遮罩
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../../assets/images/product-9.png);
    // 設置背景混和模式為相乘模式
    background-blend-mode: screen;
  }
}

/* recommend區塊 */
.recommend {
  @include pad {
    padding-top: 40px;
    padding-bottom: 24px;
  }
  .recommend-list {
    display: flex;
    justify-content: space-between;
    @include pad {
      flex-wrap: wrap;
    }
    li {
      position: relative;
      height: 460px;
      border: 1px solid #dee2e6;
      box-shadow: 0px 2px 6px #00000029;
      border-radius: 4px;
      width: 255px;
      @include pc-pad {
        width: 23%;
      }
      @include pad {
        width: 48%;
        margin-bottom: 32px;
        img {
          width: 100%;
        }
      }
      @include mobile {
        width: 345px;
        @include center;
        margin-bottom: 16px;
      }
    }
    .recommend-list-title {
      font-size: $text-xs;
      font-weight: 500;
      line-height: 1.5;
      padding-top: 14px;
      padding-bottom: 7px;
    }
    .recommend-list-content {
      font-size: $text-s;
      font-weight: 400;
      line-height: 24px;
    }
    .recommend-list-time {
      position: absolute;
      bottom: 16px;
      font-size: $text-xs;
      font-weight: 400;
      line-height: 1.5;
      color: #707070;
    }
  }
}

/* contact區塊 */
.contact {
  background-color: $contact-bg-color;
  @include pad {
    @include pad-py-4;
  }
  @include mobile {
    @include mobile-py-4;
  }
}
.contact-info {
  width: 730px;
  margin: 0 auto;
  @include pc-pad {
    width: 65%;
  }
  @include pad {
    width: 70%;
  }
  @include mobile {
    width: 90%;
  }
  .title {
    color: $text-color-default;
    @include pad {
      margin-bottom: 24px;
    }
  }
  p {
    font-size: $text-s;
    line-height: 1.5;
    margin-bottom: 20px;
    @include pad {
      margin-bottom: 16px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  @include pad {
    margin-bottom: 8px;
  }
  label {
    font-size: $text-s;
    line-height: 1.5;
    @include pad {
      font-size: $text-xs;
    }
  }
  input,
  textarea {
    padding: 14px 16px;
    margin-top: 4px;
    border: solid 1px $text-color-default;
    //顏色透明
    background-color: #ffffff00;
  }
  input {
    height: 50px;
  }
  textarea {
    height: 136px;
    resize: none;
  }
}
.checkbox-group {
  display: flex;
  justify-content: center;
  input {
    @include size(22px, 22px);
    margin-right: 4px;
    vertical-align: middle;
  }
  label {
    font-size: $text-s;
    line-height: 1.5;
  }
}
.btn-list {
  text-align: center;
  padding-top: 40px;
  button {
    font-size: $text-s;
    @include size(350px, 54px);
    @include pad {
      @include size(210px, 40px);
    }
    @include mobile {
      @include size(165px, 36px);
    }
    line-height: 1.5;
    color: $text-color-secondary;
    background-color: $btn-color-primary;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $btnHover-color-primary;
    }
  }
}
