.location {
  @include pad {
    @include pad-py-5;
  }
  @include mobile {
    @include mobile-py-5;
  }
  .location-form {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    @include pad {
      margin-bottom: 24px;
    }
    @include mobile {
      margin-bottom: 20px;
    }
    label {
      font-size: $text-base;
      line-height: 1.5;
      @include pad {
        font-size: $text-s;
      }
      @include mobile {
        font-size: $text-xs;
      }
    }
    select {
      @include size(324px, 45px);
      @include pad {
        @include size(237px, 46px);
      }
      @include mobile {
        @include size(70%, 36px);
      }
      margin-left: 12px;
      color: $location-select-text;
      border: 1px solid $location-select-border;
    }
  }
}
