.menu {
  @include mobile {
    display: none;
  }
  background-color: $menu-bg-color;
  margin-bottom: 40px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-list {
    display: flex;
    li {
      a {
        font-size: $text-sm;
        line-height: 1.5;
        color: $text-color-secondary;
        display: block;
        text-decoration: none;
        padding: 12px 0;
        padding-right: 48px;
        &:hover {
          color: $text-hover-color-primary;
        }
      }
    }
  }
}
